.texto_grande {
    font-size: 2.5rem;
    color: white;
}
#icone_grande {
    font-size: 8rem;
    color:#fff;
}
.top-margin{
    margin-top: 10%;
}
.arrow-icon{
    padding: 2% 0 2% 0;
    font-size: 70px;
}